/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    font-size:20px;
}

img {
    width: 100px;
}

.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    justify-content: center;
    padding: 10px;
    background-image: url("images/valley.avif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:white;
    text-shadow: 0px 0px 50px grey;
}

.buffer1 {
    width: 100%;
    min-height: 60vh;

    background-image: url("images/cloud.jpg");
    background-size: cover;
    background-position: center;
  }

.layout{
    margin-top: 0px;
    min-height: 100vh;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:white;
}

.activities{
    background-image: url("images/beach.avif");
}

.vacation{
    background-image: url("images/valley.avif");
}

.content{
    text-align: center;
    padding-top: 50px;
}
.content h1 {
    margin-top: 0px;
    padding: 50px 50px;
    text-shadow: 0px 0px 10px black;
}

.funfacts{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    height:700px;
    
}
.card{
    display:flex;
    flex-direction: column;
    /*vertical*/
    justify-content: center;
    /*horizantal*/
    align-items:center;
    padding: 0px 0px 10px 0px;
    background-color: white;
    color:black;
    width: 300px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
}

.card a{
    width: 20x;   
    background-color: black;
    color:white;
    text-decoration: none;
    padding:  12px 15px;
    border-radius: 10px;
    font-size: 10px;
    margin-top: auto;
 
}

.imgstyle{
    background-size: cover;
    background-position: center;
    width:100%;
    height: 250px;
}

.img1{
    background-image: url("images/tajmahal.jpeg"); 
 }
.img2{
    background-image: url("images/IndianLanguages.png"); 
 }
.img3{
    background-image: url("images/chaturanga.jpg"); 
 }
.img4{
   background-image: url("images/tiger.jpg"); 
}

.spot{
    display:flex;
    flex-direction: column;
    /*vertical*/
    justify-content: center;
    /*horizantal*/
    align-items:center;
    padding: 0px 0px 10px 0px;
    color:white;
    width: 300px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    background-size: cover;
    background-position:center;
}
.spot1{
    background-image: url("images/MegCave.jpg");
}
.spot2{
    background-image: url("images/kayak.jpg");
}
.spot3{
    background-image: url("images/skiing.jpg");
}

.spot:hover{
    border: 1px solid red;
    /*transform: rotate(90deg);*/
    transform: rotate3d(1, 1, 1, 45deg);
}
.guide{
    padding: 10px;
}